<div class="main-container">
  <h3 class="title">{{newsArticle.title}}</h3>
  <p class="summary">{{newsArticle.summary}}</p>
  <a href="{{newsArticle.link}}" target="_blank" class="btn btn-primary">Read Article</a>


  {{#if newsArticle.saved }}
    <button id="saveArticle" data-id="{{newsArticle.id}}" data-set="false" class="btn btn-primary">Delete From Saved</button>
  {{else}}
    <button id="saveArticle" data-id="{{newsArticle.id}}" data-set="true" class="btn btn-primary">Save Article</button>
  {{/if}}
 
  <div class="note-container">
    <form id="addNote" data-id="{{newsArticle.id}}">
      <p>Add A Note/Comment:</p>
      <input id="noteTitle" type="text" name="title" placeholder="Title">
      <input id="noteBody" type="text" name="body" placeholder="Note/Comment">
      <input class="btn" type="submit" value="Submit">
    </form> 
  </div>
  
  <br>
  {{#each newsArticle.notes}}    
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">{{this.title}}</h5>
      <p>{{this.body}}</p>
      <button class="btn deleteNote" data-id="{{this.id}}">Delete Note</button>
    </div>
  </div>
  {{/each}}
</div>

<script src="/assets/js/notes.js"></script>
